<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="QuestionReader" class="ru.otus.homework.service.question.reader.CsvQuestionReader">
        <constructor-arg name="csvPath" value="/questions.csv"/>
    </bean>

    <bean name="QuestionService" class="ru.otus.homework.service.question.QuestionService">
        <constructor-arg name="reader" ref="QuestionReader"/>
    </bean>

    <bean name="QuestionController" class="ru.otus.homework.controller.question.QuestionControllerImpl">
        <constructor-arg name="questionService" ref="QuestionService"/>
    </bean>

    <bean name="CheckerService" class="ru.otus.homework.service.checker.CheckerService">
        <constructor-arg name="questionService" ref="QuestionService"/>
    </bean>

    <bean name="CheckerController" class="ru.otus.homework.controller.checker.CheckerControllerImpl">
        <constructor-arg name="checkerService" ref="CheckerService"/>
    </bean>

    <bean name="ConsoleUtils" class="ru.otus.homework.ui.util.ConsoleUtils"/>

    <bean name="UserInterface" class="ru.otus.homework.ui.UserInterfaceImpl">
        <constructor-arg name="questionController" ref="QuestionController"/>
        <constructor-arg name="checkerController" ref="CheckerController"/>
        <constructor-arg name="consoleUtils" ref="ConsoleUtils"/>
    </bean>
</beans>